<div class="row">
    <div class="col-1"></div>
    <i class="col-10">What is t.e.e.? It started as a weekly event hosted at The 331 Club in Minneapolis, MN. What is it now? An orb of connectedness. If it wasn't clear, t.e.e. is an acronym for 'Tuesday, Early Evening,' which is when this event was originally hosted.</i>
    <div class="col-1"></div>
</div>
<div class="row">
    <a class="btn btn-primary col-3 mx-auto" target="_blank" href="https://twitter.us17.list-manage.com/subscribe?u=ed946c8c78fb68dabec4017e8&id=1f7e7a0b1d" role="button">Newsletter</a>
</div>